{% extends 'base.html' %} {% block header %}
<h1>{% block title %}NBATF{% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('nbatf.create') }}">New</a>
{% endif %} {% endblock %} {% block content %} {% for games in game %}
<article class="post">
  <header>
    <div>
      <h1>{{ games['game_id'] }}</h1>
      <h2></h2>
      <div class="about"> Pick: {{ games['choice_full_name'] }} | Opp: {{ games['opp_full_name'] }} </div>
      <h3>Status: {{games['is_choice_win']}}</h3>
    </div>
  </header>
</article>
{% if not loop.last %}
<hr />
{% endif %} {% endfor %} {% endblock %}
